body,
html {
  width: 100%;
  height: 100%; }

*,
::after,
::before {
  box-sizing: border-box; }

html {
  line-height: 1.15; }

footer,
header,
nav,
section {
  display: block; }

body {
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

ul {
  margin-top: 0;
  margin-bottom: 1rem; }

a {
  color: #865904;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #865904;
    text-decoration: underline; }

img {
  vertical-align: middle;
  border-style: none; }

button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  text-transform: none; }

nav {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; }

nav > .sectionContent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between; }

.pointer {
  cursor: pointer; }

.centerContent {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center !important;
  text-align: center !important; }

.sectionContainer {
  padding: 8rem 0; }

.subSection {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  justify-content: center !important; }

.sectionContent {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  text-align: center !important; }

.menuList {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-left: auto !important; }

.menuList a {
  padding-right: 0;
  padding-left: 0; }

.burgerMenuIcon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

.roundButton {
  padding: 1.25rem 2.25rem;
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  text-decoration: none; }

.plantName {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(2, 131, 2, 0.7);
  transition: opacity 0.25s ease;
  text-align: center; }

.hide:not(.show) {
  display: none; }

.invisible {
  display: none; }

.hidden {
  visibility: hidden; }

#mainNav {
  padding-top: 1rem !important;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #fff;
  transition: background-color 0.2s ease; }
  #mainNav #button {
    transition: all 400ms ease;
    color: rgba(0, 0, 0, 0.5); }
    #mainNav #button:focus, #mainNav #button:hover {
      text-decoration: none; }
  #mainNav #button.expanded {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg); }
  #mainNav .companyBrand {
    color: rgba(0, 0, 0, 0.9);
    /*background-image: url("../images/logo.png");*/ }
    #mainNav .companyBrand:focus, #mainNav .companyBrand:hover {
      color: rgba(0, 0, 0, 0.9); }
  #mainNav .burgerMenuIcon {
    background-image: url("../images/burger-menu.png"); }
  #mainNav .companyBrand {
    font-weight: 700;
    /*color: #212529;
    color: rgba(0, 0, 0, 0.9);*/
    background-image: url("../images/logo.png");
    display: inline-block;
    width: 112px;
    height: 50px;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%; }
  #mainNav .menuList a {
    color: rgba(0, 0, 0, 0.5); }
    #mainNav .menuList a:focus, #mainNav .menuList a:hover {
      color: rgba(0, 0, 0, 0.7); }
  #mainNav .menuList .menuItem a {
    color: #6c757d;
    font-weight: 700;
    font-size: 0.9rem;
    padding: 0.75rem 0; }
  #mainNav .menuList .menuItem a:active,
  #mainNav .menuList .menuItem a:hover {
    color: #865904; }
  #mainNav #menuList a {
    display: block;
    padding: 0.5rem 1rem; }
  #mainNav #menuList a:focus,
  #mainNav #menuList a:hover {
    text-decoration: none; }
  #mainNav .companyBrand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap; }
  #mainNav .companyBrand:focus,
  #mainNav .companyBrand:hover {
    text-decoration: none; }
  #mainNav .menuCollapsed {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center; }
  #mainNav #button {
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem; }

header#mainHeader {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 72px);
  background: linear-gradient(to bottom, rgba(189, 235, 170, 0.4) 0, rgba(21, 53, 1, 0.7) 100%), url(../images/background.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover; }
  header#mainHeader .sectionContent {
    height: 100% !important; }
  header#mainHeader h1 {
    font-size: 2.25rem;
    align-self: flex-end !important;
    text-transform: uppercase !important;
    color: #fff !important;
    font-weight: 700 !important; }
  header#mainHeader .mainText {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px; }
  header#mainHeader .subText {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    align-self: baseline !important; }
  header#mainHeader .bannerText {
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    height: 100% !important; }
  header#mainHeader .callUs {
    color: rgba(255, 255, 255, 0.75);
    font-weight: 300 !important;
    margin-bottom: 3rem !important; }
  header#mainHeader .learnMore {
    color: #fff;
    background-color: #00000066; }
    header#mainHeader .learnMore:hover {
      color: #fff;
      background-color: rgba(185, 129, 9, 0.479);
      text-decoration: none; }
    header#mainHeader .learnMore:focus {
      box-shadow: 0 0 0 0.2rem #b48318; }

#contactSection .socialMedia {
  flex-direction: row;
  flex-wrap: wrap; }
#contactSection .socialMedia > * {
  font-weight: 900;
  margin-bottom: 1rem !important;
  margin-right: 30px;
  margin-left: 30px; }
#contactSection p {
  color: #6c757d !important;
  margin-bottom: 3rem !important; }
#contactSection h2 {
  margin-top: 0 !important; }
#contactSection .socialIcons {
  width: 50px;
  height: auto; }
#contactSection .facebook::before {
  content: url(../images/facebook.svg); }
#contactSection .twitter::before {
  content: url(../images/twitter.svg); }
#contactSection .skype::before {
  content: url(../images/skype.svg); }
#contactSection .whatsapp::before {
  content: url(../images/whatsapp.svg); }

#aboutSection {
  background-color: #865904 !important; }
  #aboutSection h2 {
    color: #fff !important;
    margin-top: 0 !important; }
  #aboutSection p {
    color: rgba(255, 255, 255, 0.5) !important; }

#featuredSection {
  display: flex;
  background-color: #343a40 !important;
  color: #fff !important;
  background-image: url("../images/sarah.jpg");
  background-size: cover;
  height: 500px; }
  #featuredSection h2 {
    color: #333a41; }
  #featuredSection .slideButtons {
    align-self: flex-end;
    margin-right: 30px; }
  #featuredSection .button {
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background: #db930e;
    color: #fff;
    margin-bottom: 10px;
    font-size: 1.3rem;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 30px 30px; }
  #featuredSection .gt {
    background-image: url("../images/right-icon.png"); }
  #featuredSection .lt {
    background-image: url("../images/left-icon.png"); }

#serviceSection {
  background: #f5f5f5; }
  #serviceSection p {
    color: #6c757d !important;
    margin-bottom: 0 !important; }
  #serviceSection .icons {
    width: 50px;
    height: auto; }
  #serviceSection .temperatureIcon {
    content: url(../images/temperature-icon.png); }
  #serviceSection .moistureIcon {
    content: url(../images/moisture-icon.png); }
  #serviceSection .lightIcon {
    content: url(../images/light-icon.png); }
  #serviceSection .serviceItemContent {
    margin-top: 3rem;
    background-color: #fdfdfd;
    padding: 20px 0;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border: 1px solid #e0e1e1; }
  #serviceSection .serviceItem {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    text-align: center; }
  #serviceSection h3 {
    font-size: 40px;
    margin-bottom: 0.5rem;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    color: #878b8b; }

#gallerySection {
  padding-top: 70px; }
  #gallerySection .plant {
    max-width: 1920px; }
  #gallerySection .plantCell {
    position: relative;
    display: block; }
    #gallerySection .plantCell:hover .plantName {
      opacity: 1; }
    #gallerySection .plantCell img {
      max-width: 100%;
      height: auto; }
  #gallerySection .plant {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }

#contactUsSection {
  background: #f5f5f5; }
  #contactUsSection h3 {
    font-size: 1.75rem;
    margin-top: 0.5rem; }
  #contactUsSection p {
    color: #535151; }
  #contactUsSection .formItem label {
    font-weight: 300; }
  #contactUsSection .formItem {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem; }
  #contactUsSection .formItem input[type="text"] {
    box-sizing: content-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    outline: 0;
    box-shadow: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  #contactUsSection .formItem input {
    border-bottom: 1px solid #4285f4;
    box-shadow: 0 1px 0 0 #4285f4; }
  #contactUsSection .formItem input {
    height: auto;
    padding: 0.6rem 0 0.4rem 0;
    margin: 0 0 0.5rem 0;
    background-color: transparent;
    border-radius: 0; }
  #contactUsSection .formItem input {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  #contactUsSection .formItem label {
    font-size: 1rem; }
  #contactUsSection .formItem label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1rem;
    color: #757575;
    cursor: text;
    transition: transform 0.2s ease-out, color 0.2s ease-out;
    transform: translateY(12px);
    transform-origin: 0 100%;
    padding-left: 14px; }
  #contactUsSection .formButton {
    margin: 0.375rem;
    cursor: pointer;
    border: 0;
    border-radius: 0.125rem;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 0.84rem 2.14rem;
    font-size: 0.81rem;
    color: #fff;
    background-color: #82b1ff; }
    #contactUsSection .formButton:hover {
      outline: 0;
      box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15); }

#footer {
  background-color: #f3f3f3;
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }
  #footer ul a {
    text-decoration: none; }
  #footer ul li {
    display: inline;
    list-style-type: none;
    margin: 2px; }
  #footer ul li a {
    font-style: italic; }

@media (min-width: 31.25em) {
  /*500px*/
  .plantCell {
    flex: 0 0 50%;
    max-width: 50%; }

  .sectionContent {
    max-width: 540px; } }
@media (min-width: 768px) {
  .serviceItem {
    flex: 0 0 50%;
    max-width: 50%; }

  .sectionContent {
    max-width: 720px; } }
@media (min-width: 992px) {
  header#mainHeader {
    height: 100vh;
    min-height: 40rem;
    padding-top: 72px;
    padding-bottom: 0; }

  header#mainHeader p {
    font-size: 1.15rem; }

  header#mainHeader h1 {
    font-size: 3rem; }

  #mainNav {
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }

  #mainNav .companyBrand {
    color: rgba(255, 255, 255, 0.7); }

  #mainNav .companyBrand:hover {
    color: #fff; }

  #mainNav .menuList .menuItem a {
    color: rgba(255, 255, 255, 0.7);
    padding: 0 1rem; }

  #mainNav .menuList .menuItem a:hover {
    color: #fff; }

  #mainNav .menuList .menuItem:last-child a {
    padding-right: 0; }

  #mainNav.scrolled {
    box-shadow: 0 0.5rem 1rem rgba(206, 206, 206, 0.1);
    background-color: #fff; }

  #mainNav.scrolled .companyBrand {
    color: #212529; }

  #mainNav.scrolled .companyBrand:hover {
    color: #865904; }

  #mainNav.scrolled .menuItem a {
    color: #647484; }

  #mainNav.scrolled .menuItem a:hover {
    color: #865904; }

  .serviceItem {
    flex: 0 0 25%;
    max-width: 25%; }

  .plantCell {
    flex: 0 0 33.33333%;
    max-width: 33.33333%; }

  .sectionContent {
    max-width: 960px; }

  .expanded > .sectionContent {
    padding-right: 0;
    padding-left: 0;
    flex-wrap: nowrap; }

  .expanded {
    flex-flow: row nowrap;
    justify-content: flex-start; }

  .expanded .menuList {
    flex-direction: row; }

  .expanded .menuList a {
    padding-right: 0.5rem;
    padding-left: 0.5rem; }

  .expanded .menuCollapsed {
    display: flex !important;
    flex-basis: auto; }

  .expanded #button {
    display: none; }

  .animatedList a {
    font-weight: bold;
    text-decoration: none;
    color: #031d44;
    display: inline-block;
    position: relative;
    opacity: 0.75; }

  .animatedList a:hover {
    opacity: 1; }

  .animatedList a::before {
    transition: 300ms;
    height: 2px;
    content: "";
    position: absolute;
    background-color: #b99907; }

  .animatedList a::before {
    width: 70%;
    bottom: 5px;
    opacity: 0; }

  .animatedList a:hover::before {
    bottom: 2px;
    opacity: 1; } }
@media (min-width: 1200px) {
  .sectionContent {
    max-width: 1140px; }

  header#mainHeader h1 {
    font-size: 3.5rem; } }

/*# sourceMappingURL=main.css.map */
