.chartjs-render-monitor {
    animation: chartjs-render-animation 0.001s;
}

.chartjs-size-monitor,
.chartjs-size-monitor-expand,
.chartjs-size-monitor-shrink {
    position: absolute;
    direction: ltr;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    pointer-events: none;
    visibility: hidden;
    z-index: -1;
}

.chartjs-size-monitor-expand>div {
    position: absolute;
    width: 1000000px;
    height: 1000000px;
    left: 0;
    top: 0;
}

.chartjs-size-monitor-shrink>div {
    position: absolute;
    width: 200%;
    height: 200%;
    left: 0;
    top: 0;
}

@keyframes chartjs-render-animation {
    from {
        opacity: 0.99;
    }

    to {
        opacity: 1;
    }
}


.burgerButton {
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    background-size: 100% 100%;
    background-image: url("../images/burger-menu.png");
}


.menuIcon {
    width: 25px;
    height: 25px;
    margin-bottom: 3px;
}

footer.sticky-footer {
    width: 100%;
    z-index: -11;
}

#sidebarToggle {
    transition: all 400ms ease;
    color: rgba(0, 0, 0, 0.5);
}

#sidebarToggle.expanded {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.breadcrumb {
    background-color: #ffffff;
}

.card-header {
    background-color: rgba(216, 216, 216, 0.068);
    border-bottom: 0px solid rgba(0, 0, 0, 0);
}

.card {
    background-color: #fff;
    background-clip: border-box;
    border: none;
}

.card-footer {
    background-color: rgba(216, 216, 216, 0.082);
    border-top: 0px solid rgba(0, 0, 0, 0.125);
}

.sidebar {
    background-color: #ffffff;
    border-right: 0px solid rgb(212, 212, 212);

}

.navbar-nav span {
    color: #6c757d;
    font-size: 14px;
    font-weight: bold;

}

@media (min-width: 768px) {}

@media (min-width: 576px) {
    .order-sm-0 {
        -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
        order: 1;
    }
}

.nav-link {
    cursor: pointer;
}

.navbar-nav span:hover {
    color: #f2a00f !important;
}


#charts-icon {
    background: url(../images/pie-chart.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}

#dashboard-icon {
    background: url(../images/dashboard.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}


#notification-icon {
    background: url(../images/alarm.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}


#events-icon {
    background: url(../images/calendar.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}



#charts-icon:hover {
    background: url(../images/pie-chart2.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}

#dashboard-icon:hover {
    background: url(../images/dashboard2.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}


#notification-icon:hover {
    background: url(../images/alarm2.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}



#events-icon:hover {
    background: url(../images/calendar2.png);
    background-repeat: no-repeat;
    background-size: 25px 25px;
    vertical-align: middle;
    border-style: none;
    display: inline-block;
}

.navbar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }
